<% title "Secteurs" %>

<table>
  <tr>
    <th>Name</th>
  </tr>
  <% for secteur in @secteurs %>
    <tr>
      <td><%=h secteur.name %></td>
      <td><%= link_to "Show", secteur %></td>
    </tr>
  <% end %>
</table>
